/****** Object:  StoredProcedure [dbo].[CargarDatosDesdeXML]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE dbo.CargarDatosDesdeXML
    @inXML XML
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @outResultCode = 0;

    DECLARE @EsValido BIT = 1;

    BEGIN TRY
        -- Validaciones previas
        IF @inXML.exist('/Datos') = 0
        BEGIN
            SET @outResultCode = 50008;
            SET @EsValido = 0;
        END;

        IF @EsValido = 1 AND @inXML.exist('/Datos/Usuarios/usuario') = 0
        BEGIN
            SET @outResultCode = 50008;
            SET @EsValido = 0;
        END;

        -- Carga de catálogos
        IF @EsValido = 1
        BEGIN
            -- TipoEvento
            IF @inXML.exist('/Datos/TiposEvento/TipoEvento') = 1
            BEGIN
                SET IDENTITY_INSERT dbo.TipoEvento ON;
                INSERT INTO dbo.TipoEvento (Id, Nombre)
                SELECT 
                    T.value('@Id', 'INT')
                    , T.value('@Nombre', 'NVARCHAR(150)')
                FROM @inXML.nodes('/Datos/TiposEvento/TipoEvento') AS X(T);
                SET IDENTITY_INSERT dbo.TipoEvento OFF;
            END;

            -- TipoMovimiento
            IF @inXML.exist('/Datos/TiposMovimientos/TipoMovimiento') = 1
            BEGIN
                SET IDENTITY_INSERT dbo.TipoMovimiento ON;
                INSERT INTO dbo.TipoMovimiento (Id, Nombre, TipoAccion)
                SELECT 
                    TM.value('@Id', 'INT')
                    , TM.value('@Nombre', 'NVARCHAR(150)')
                    , TM.value('@TipoAccion', 'NVARCHAR(50)')
                FROM @inXML.nodes('/Datos/TiposMovimientos/TipoMovimiento') AS X(TM);
                SET IDENTITY_INSERT dbo.TipoMovimiento OFF;
            END;

            -- Error
            IF @inXML.exist('/Datos/Error/errorCodigo') = 1
            BEGIN
                SET IDENTITY_INSERT dbo.Error ON;
                INSERT INTO dbo.Error (Id, Codigo, Descripcion)
                SELECT 
                    E.value('@Id', 'INT')
                    , E.value('@Codigo', 'NVARCHAR(100)')
                    , E.value('@Descripcion', 'NVARCHAR(1000)')
                FROM @inXML.nodes('/Datos/Error/errorCodigo') AS X(E)
                WHERE E.value('@Id', 'INT') IS NOT NULL;
                SET IDENTITY_INSERT dbo.Error OFF;
            END;

            -- Usuarios
            IF @inXML.exist('/Datos/Usuarios/usuario') = 1
            BEGIN
                SET IDENTITY_INSERT dbo.Usuario ON;
                INSERT INTO dbo.Usuario (Id, Username, Password)
                SELECT 
                    U.value('@Id', 'INT')
                    , U.value('@Nombre', 'NVARCHAR(150)')
                    , U.value('@Pass', 'NVARCHAR(256)')
                FROM @inXML.nodes('/Datos/Usuarios/usuario') AS X(U)
                WHERE 
                    U.value('@Id', 'INT') IS NOT NULL
                    AND NOT EXISTS (
                        SELECT 1 FROM dbo.Usuario WHERE Id = U.value('@Id', 'INT')
                    );
                SET IDENTITY_INSERT dbo.Usuario OFF;
            END;

            -- Puestos
            IF @inXML.exist('/Datos/Puestos/Puesto') = 1
            BEGIN
                INSERT INTO dbo.Puesto (Nombre, SalarioxHora)
                SELECT 
                    P.value('@Nombre', 'NVARCHAR(200)')
                    , P.value('@SalarioxHora', 'DECIMAL(18,4)')
                FROM @inXML.nodes('/Datos/Puestos/Puesto') AS X(P)
                WHERE P.value('@Nombre', 'NVARCHAR(200)') IS NOT NULL;
            END;
        END;

        -- Carga de empleados y movimientos
        IF @EsValido = 1
        BEGIN
            BEGIN TRANSACTION tCarga;

            -- Empleados
            INSERT INTO dbo.Empleado (
                IdPuesto, ValorDocumentoIdentidad, Nombre, FechaContratacion, SaldoVacaciones, EsActivo)
            SELECT 
                P.Id
                , E.value('@ValorDocumentoIdentidad', 'NVARCHAR(100)')
                , E.value('@Nombre', 'NVARCHAR(250)')
                , E.value('@FechaContratacion', 'DATE')
                , 0
                , 1
            FROM @inXML.nodes('/Datos/Empleados/empleado') AS X(E)
            INNER JOIN dbo.Puesto P 
                ON P.Nombre = E.value('@Puesto', 'NVARCHAR(200)');

            -- Movimientos
            INSERT INTO dbo.Movimiento (
                IdEmpleado, IdTipoMovimiento, Fecha, Monto, NuevoSaldo, IdPostByUser, PostIP, PostTime)
            SELECT 
                E.Id
                , M.value('@IdTipoMovimiento', 'INT')
                , M.value('@Fecha', 'DATETIME2')
                , M.value('@Monto', 'DECIMAL(18,4)')
                , E.SaldoVacaciones + M.value('@Monto', 'DECIMAL(18,4)')
                , U.Id
                , M.value('@PostInIP', 'NVARCHAR(50)')
                , M.value('@PostTime', 'DATETIME2')
            FROM @inXML.nodes('/Datos/Movimientos/movimiento') AS X(M)
            INNER JOIN dbo.Empleado E 
                ON E.ValorDocumentoIdentidad = M.value('@ValorDocId', 'NVARCHAR(100)')
            INNER JOIN dbo.Usuario U 
                ON U.Username = M.value('@PostByUser', 'NVARCHAR(150)');

            -- Actualizar saldo
            UPDATE E
            SET E.SaldoVacaciones = M.NuevoSaldo
            FROM dbo.Empleado E
            INNER JOIN (
                SELECT 
                    E.Id
                    , E.SaldoVacaciones + M.value('@Monto', 'DECIMAL(18,4)') AS NuevoSaldo
                FROM @inXML.nodes('/Datos/Movimientos/movimiento') AS X(M)
                INNER JOIN dbo.Empleado E 
                    ON E.ValorDocumentoIdentidad = M.value('@ValorDocId', 'NVARCHAR(100)')
            ) AS M ON E.Id = M.Id;

            COMMIT TRANSACTION tCarga;
        END;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        INSERT INTO dbo.DBError (
            UserName, Number, State, Severity, Line, ProcedureName, Message, PostTime)
        VALUES (
            SUSER_SNAME()
			, ERROR_NUMBER()
			, ERROR_STATE()
			, ERROR_SEVERITY()
			, ERROR_LINE()
			, ERROR_PROCEDURE()
			, ERROR_MESSAGE()
			, SYSUTCDATETIME());

        SET @outResultCode = 50008;
    END CATCH

    SET NOCOUNT OFF;
END;
GO

