/****** Object:  StoredProcedure [dbo].[LoginUsuario]    Script Date: 10/20/2025 12:51:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE dbo.LoginUsuario
    @inUsername NVARCHAR(150)          -- Usuario que intenta login
    , @inPassword NVARCHAR(256)        -- Password ingresado
    , @inIP NVARCHAR(45)               -- IP desde donde se intenta login
    , @outResultCode INT OUTPUT        -- Código de resultado
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdUsuario INT;
    DECLARE @IntentosFallidos INT = 0;
    DECLARE @Descripcion NVARCHAR(1000) = '';

    SET @outResultCode = 0;

    BEGIN TRY
        -- Validar existencia del usuario
        SELECT @IdUsuario = U.Id
        FROM dbo.Usuario U
        WHERE U.Username = @inUsername;

        IF (@IdUsuario IS NULL)
        BEGIN
            SET @outResultCode = 50001;

            SET @Descripcion = 
                'Intento con usuario inválido | Código: 50001';

            BEGIN TRANSACTION tLoginUsuario

                INSERT INTO dbo.BitacoraEvento (
                    IdTipoEvento
                    , Descripcion
                    , IdPostByUser
                    , PostIP
                    , PostTime)
                VALUES (
                    2
                    , @Descripcion
                    , NULL
                    , @inIP
                    , SYSUTCDATETIME());

            COMMIT TRANSACTION tLoginUsuario;

            RETURN;
        END;

        -- Validar intentos fallidos en últimos 5 minutos
        SELECT @IntentosFallidos = COUNT(*)
        FROM dbo.BitacoraEvento B
        WHERE B.IdTipoEvento = 2
            AND B.IdPostByUser = @IdUsuario
            AND B.PostIP = @inIP
            AND B.PostTime >= DATEADD(MINUTE, -5, SYSUTCDATETIME());

        IF (@IntentosFallidos >= 5)
        BEGIN
            SET @outResultCode = 50003;

            SET @Descripcion = 
                'Número de intentos fallidos excedido | Código: 50003 | Intentos: '
                + CAST(@IntentosFallidos AS NVARCHAR);

            BEGIN TRANSACTION tLoginUsuario

                INSERT INTO dbo.BitacoraEvento (
                    IdTipoEvento
                    , Descripcion
                    , IdPostByUser
                    , PostIP
                    , PostTime)
                VALUES (
                    3
                    , @Descripcion
                    , @IdUsuario
                    , @inIP
                    , SYSUTCDATETIME());

            COMMIT TRANSACTION tLoginUsuario;

            RETURN;
        END;

        -- Validar password
        IF NOT EXISTS (
            SELECT 1
            FROM dbo.Usuario U
            WHERE U.Id = @IdUsuario
                AND U.Password = @inPassword)
        BEGIN
            SET @outResultCode = 50002;

            SET @Descripcion = 
                'Password incorrecta | Código: 50002 | Intentos en últimos 5 min: '
                + CAST(@IntentosFallidos AS NVARCHAR);

            BEGIN TRANSACTION tLoginUsuario

                INSERT INTO dbo.BitacoraEvento (
                    IdTipoEvento
                    , Descripcion
                    , IdPostByUser
                    , PostIP
                    , PostTime)
                VALUES (
                    2
                    , @Descripcion
                    , @IdUsuario
                    , @inIP
                    , SYSUTCDATETIME());

            COMMIT TRANSACTION tLoginUsuario;

            RETURN;
        END;

        -- Login exitoso
        SET @Descripcion = 'Login exitoso';

        BEGIN TRANSACTION tLoginUsuario

            INSERT INTO dbo.BitacoraEvento (
                IdTipoEvento
                , Descripcion
                , IdPostByUser
                , PostIP
                , PostTime)
            VALUES (
                1
                , @Descripcion
                , @IdUsuario
                , @inIP
                , SYSUTCDATETIME());

        COMMIT TRANSACTION tLoginUsuario;

        SET @outResultCode = 0;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION tLoginUsuario;

        INSERT INTO dbo.DBError (
            UserName
            , Number
            , State
            , Severity
            , Line
            , ProcedureName
            , Message
            , PostTime)
        VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ERROR_PROCEDURE()
            , ERROR_MESSAGE()
            , SYSUTCDATETIME());

        SET @outResultCode = 50008;
    END CATCH

    SET NOCOUNT OFF;
END

