/****** Object:  StoredProcedure [dbo].[ConsultarEmpleados]    */
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[ConsultarEmpleados]
AS
BEGIN 
	SET NOCOUNT ON;

	BEGIN TRY
		SELECT 
			E.id
			, E.Nombre
			, E.SaldoVacaciones
		FROM dbo.Empleado AS E
		ORDER BY E.Nombre; -- Ordenado alfabéticamente por nombre
	END TRY
	BEGIN CATCH
		-- Error inesperado
		RETURN -99;
	END CATCH
END